<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="mobile-web-app-capable" content="yes">
		<title>VR CAM ROBOT</title>
		<style>
	*{
		margin: 0;
	}
	#top{
		display: flex;
		
		width: 100%;
		margin: 10px;
	}
	#controls{
		display: flex;
		
		width: 100%;
		margin: 10px;
	}
	button{
		border: 2px solid black;
		border-radius: 5px;
		font-size: 40px;
		color: white;
		height: 50vh;
		width: 50%;
		background-color: rgb(77, 77, 77);
	}
		</style>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	</head>
	<body>
		<main>
			<div id="top">
				<button onclick="send('true', 'true', 'forward')" style="background-color: green;">
					Start
				</button>
				<button onclick="send('false', 'false', 'forward')" style="background-color: red;">
					Stop
				</button>
				<button onclick="send('false', 'false', 'reverse')">
					Reverse
				</button>


			</div>
			<div id="controls">
				<button onclick="send('true', 'false', 'forward')">
					Left
				</button>

				<button onclick="send('false', 'true', 'forward')">
					Right
				</button>
			</div>
			<button id="goFS">Go fullscreen</button>
		</main>
	 <script defer>
		function send(left, right, direction){
			$.ajax({
				url: '/move',
				type: 'POST',
				contentType: 'application/json;charset=UTF-8',
				data:  JSON.stringify({
						'left': left,
						'right': right,
						'direction': direction
				}),
				success: function(msg) {
						console.log("pass");
				}
		});  
		}
		var goFS = document.getElementById("goFS");
      	goFS.addEventListener("click", function() {
        	document.body.webkitRequestFullScreen();
      	}, false);



	 </script>
	</body>
</html>
